.App {
  text-align: center;
  padding: 2px;
  background-color: #282c34;
}

input {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 12vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.grid-container {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #282c34;
}

button {
  background-color: #a7a7a7;
  border-color: transparent;
  margin: 2px;
  font-size: calc(8px + 2vmin);
  font-family: "Lucida Console", "Courier New", monospace;
}

button:hover {
  background-color: lightgrey;
}

h1 {
  margin: 10px;
  font-size: calc(6px + 2vmin);
  position:absolute;
  bottom:0;
  right:0;

}

.Footer {
  height: 100%;
}